* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ededed;
}

main {
    padding: 50px;
    width: 65%;
    background-color: white;
    margin: 45px auto;
}

h1,
p {
    text-align: center;
}

.label-space {
    margin: 10px 0;
}

.input-text {
    width: 100%;
    font-size: 1rem;
    border-radius: 3px;
    padding: 7px 2px;
}

textarea {
    resize: vertical;
}